<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我们</title>
    <script src="./jquery-3.3.1.min.js"></script>
    <script src="./vue.min.js"></script>
    <script src="./vue-resource.min.js"></script>
    <link rel="stylesheet" href="./css//header.css">
    <link rel="stylesheet" href="./css//content.css">
</head>

<body>
    <div id="app" style="text-align: center;">
        <div id="topLinks" style="text-align: right; padding: 10px;">
            <a href="start.html">返回首页</a>
            <span>|</span>
            <a href="about.html">关于我们</a>
            <span>|</span>
            <a href="agreement1.html">用户协议</a>
            <span>|</span>
            <a href="agreement.html">隐私政策</a>
            <span>|</span>
            <a href="phone.html">联系电话</a>
        </div>
        <div class="content">
            <div class="left-img">
                <img src="./left.png" />
            </div>
            <div class="right-text">
                <p class="title">问诊系统介绍</p>
                <p class="txt">
                    我们的i健康在线问诊系统于2023年12月20日正式启动，旨在为患者提供快捷、简便、满意的就诊体验。虽然我们的用户群体和服务内容自成立以来已有大幅度增长，但我们依然坚守创立之初对患者满意度和及时服务的承诺。我们提供虚拟医疗推荐助手，帮助患者根据自身需求确定最适合的诊疗方案。
                </p>
                <p class="title">我们提供的服务</p>
                <p class="txt">
                    当您访问我们的i健康在线问诊系统时，您可以从我们的医生推荐助手那里获取专业建议。该代理会根据您提供的病情症状，为您推荐一位合适的医生。我们的系统确保为您提供推荐的医生是准确的，而且推荐结果是无偏的。
                </p>
            </div>
        </div>
    </div>
    <script>
        let vm = new Vue({
            el: '#app',
        })
    </script>
</body>

</html>