<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>联系电话</title>
    <script src="./jquery-3.3.1.min.js"></script>
    <script src="./vue.min.js"></script>
    <script src="./vue-resource.min.js"></script>
    <link rel="stylesheet" href="./css//header.css">
    <link rel="stylesheet" href="./css//content.css">
</head>

<body>
    <div id="app" style="text-align: center;">
        <div id="topLinks" style="text-align: right; padding: 10px;">
            <a href="start.html">返回首页</a>
            <span>|</span>
            <a href="about.html">关于我们</a>
            <span>|</span>
            <a href="agreement1.html">用户协议</a>
            <span>|</span>
            <a href="agreement.html">隐私政策</a>
            <span>|</span>
            <a href="phone.html">联系电话</a>
        </div>
        <div class="content">
            <div class="left-img">
                <img src="./left.png" />
            </div>
            <div class="right-text">
                <p class="title">如何联系我们?</p>
                <br class="txt">
                如果你对本隐私政策或您个人信息的相关事宜有任何问题或建议，请通过以下方式与我们联系。</br>
                个人信息保护负责任邮箱:15179673600@163.com </br>
                联系电话:15179673600</br>
                联系地址:上海外国语大学松江校区</br>
                </p>
            </div>
        </div>
    </div>
    <script>
        let vm = new Vue({
            el: '#app',
        })
    </script>
</body>

</html>