<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.ihealth.dao.CollectionMapper">
    <resultMap id="BaseResultMap" type="com.project.ihealth.dao.po.CollectionEntry">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="question_id" property="questionId"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="collection_info" property="collectionInfo"/>
        <result column="created_at" property="createdAt"/>
        <result column="ip" property="ip" />
        <result column="randomImage" property="randomImage" />
        <result column="doctorRecommendation" property="doctor_recommendation" />
    </resultMap>

    <insert id="save" parameterType="com.project.ihealth.dao.po.CollectionEntry" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO collection_table (user_name, question_id, phone_number, collection_info, ip, randomImage)
        VALUES (#{userName}, #{questionId}, #{phoneNumber}, #{collectionInfo}, #{ip}, #{randomImage})
    </insert>
    <update id="update" parameterType="com.project.ihealth.dao.po.CollectionEntry">
        update collection_table set doctor_recommendation = #{doctorRecommendation} where id = #{id}
    </update>

    <select id="findById" resultMap="BaseResultMap">
        SELECT * FROM collection_table WHERE id = #{id}
    </select>

    <select id="findByUserId" resultMap="BaseResultMap">
        SELECT * FROM collection_table WHERE user_name = #{userName}
    </select>
</mapper>